/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-font {
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}
.info-font {
  color: #91A3B0;
  font-family: 'Nunito', sans-serif;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.main-container {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}
.main-container .profile-bar {
  width: 30%;
  background-color: #0F3764;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1%;
}
.main-container .information {
  width: 70%;
}
.identity {
  margin-top: 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.identity .self-image-container {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}
.identity .self-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 1%;
  border: 1px solid whitesmoke;
}
.identity h1 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  text-align: center;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}
.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}
.contact-info .contact-info-item {
  padding: 5% 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-info .contact-info-item i {
  color: whitesmoke;
  font-size: 1.5rem;
  width: 15%;
}
.contact-info .contact-info-item p {
  width: 83%;
}
.contact-info .contact-info-item p a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
}
.contact-info .contact-info-item p a:hover {
  color: #91A3B0;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
}
.nav-bar a:hover {
  color: #91A3B0;
}
.information {
  padding: 2% 5%;
  width: 100%;
}
.information .summary {
  margin-top: 2%;
  border-bottom: 1px solid #91A3B0;
}
.information .summary h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 2%;
  color: #91A3B0;
  font-family: 'Nunito', sans-serif;
}
.information .summary p {
  text-align: center;
  font-size: 1.4rem;
  padding: 2%;
  color: #91A3B0;
  font-family: 'Nunito', sans-serif;
}
